<div class="containerForm">
  <div class="formCardInput">
    <h1>Регистрация</h1>
    <app-checkbox></app-checkbox>

    <label>Имя</label>
    <input [(ngModel)]="userInfo.name"  placeholder="Имя пользователя" type="text">

    <label>Фамилия</label>
    <input [(ngModel)]="userInfo.surName"  placeholder="Фамилия пользователя" type="text">

    <label>Отчество</label>
    <input [(ngModel)]="userInfo.genericName"  placeholder="Отчество пользователя" type="text">

    <label>Возраст</label>
    <input [(ngModel)]="userInfo.age"  placeholder="Возраст пользователя" type="text">

    <label>E-mail</label>
    <input [(ngModel)]="userInfo.email"  placeholder="Введите email" type="email">

    <label>Мобильный телефон</label>
    <input [(ngModel)]="userInfo.tel"  placeholder="Введите ваш мобильный номер телефона" type="tel">

    <label>Пароль</label>
    <input [(ngModel)]="userInfo.password"  placeholder="Введите пароль" type="password">

    <label>Подтвердите пароль</label>
    <input [(ngModel)]="userInfo.repeatPassword" placeholder="Введите пароль" type="password">

    <button class="buttonCome" (click)="registrationUser()">Зарегистрироваться</button>
    <p>
      У вас уже есть аккаунт? - <a routerLink="/authorization">авторизироваться</a>
    </p>
  </div>
</div>
