.containerForm {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monserat, sans-serif;
}

.formCardInput {
  display: flex;
  flex-direction: column;
  width: 250px;
  border:1px solid  #e3e3e3;
  padding: 10px 20px;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}

label {
  margin-top: 15px;
}

.buttonCome {
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  color: #416ee1;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 12px;
}
