<div class="containerForm">
  <form class="formCardInput" method="post" [formGroup]="myForm" novalidate="" (ngSubmit)="registrationUser()">
    <h1>Регистрация</h1>
    <!--    <app-checkbox></app-checkbox>-->

    <label>Имя</label>
    <input placeholder="Имя пользователя" type="text" name="name"
           formControlName="userName">

    <label>Фамилия</label>
    <input placeholder="Фамилия пользователя" type="text" name="surname"
           formControlName="userSurName">

    <label>Отчество</label>
    <input placeholder="Отчество пользователя" type="text" name="genericName"
           formControlName="userGenericName">

    <label>Возраст</label>
    <input placeholder="Возраст пользователя" type="text" name="age"
           formControlName="userAge">

    <label>E-mail</label>
    <input placeholder="Введите email" type="email" name="email"
           formControlName="userEmail">

    <label>Мобильный телефон</label>
    <input placeholder="0(29)" type="tel" name="tel"
           formControlName="userTel">

    <label>Пароль</label>
    <input placeholder="Введите пароль" type="password" name="userPassword"
           formControlName="userPassword">

    <label>Подтвердите пароль</label>
    <input placeholder="Введите пароль" type="password"
           name="userRepeatPassword" formControlName="userRepeatPassword">

    <div class="errP" *ngIf="isPasswordMismatch">
      <p>Проверте правильность паролей<p>
    </div>

    <button [disabled]="myForm.invalid" class="buttonCome">Зарегистрироваться</button>
    <p>
      У вас уже есть аккаунт? - <a routerLink="/authorization">авторизироваться</a>
    </p>
  </form>
</div>
