.container {
  display: flex;
  justify-content: center;
  //height: 400px;
  //background-image: url("/assets/img/img-header-slider/profile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 1170px;
}

h1 {
  color: #F0F0F0;
  font-size: 38px;
  padding: 15px 0 15px 22px;
  border-left: 3px solid #ffb606;
  margin: 250px 0 50px 0;
}
