<div class="content-select-list">
  <div class="school-list">
    <a class="school-list-number" (click)="clickButtonSchoolListNumber()"
       *ngFor="let item of classesSchoolInfo;let indexClass = index">

      <div class="school-list-card" (click)="selectedClass(indexClass)">
        <div *ngIf="deleteCard">
          <button class="btn-delete-card" (click)="deleteSchoolClassList(classesSchoolInfo?.indexOf(item))">+</button>
        </div>

        <img src="../../../assets/img/img-to-select-school-component/images.jpg" alt="books">
        <div class="school-list-card-text">{{item.id}}</div>
      </div>

    </a>
    <div>
      <button class="control-btn btn-create" (click)="divVueAddSchoolClass()">Создать журнал +</button>
      <button class="control-btn btn-delete" (click)="changesTheContentOfTheButton()">{{contentButtonDelete}}</button>
    </div>
  </div>
  <app-add-new-school-class
    (closeWindow)="checkingTheStateOfAVariableClassList($event)"
    *ngIf="isWindowAddSchoolClassListOpened">
  </app-add-new-school-class>
  <app-choose-a-school-subject
    [indexClass]="indexClass"
    (closeOrVueChooseASchoolSubject)="checkingTheStateOfAVariableSubject($event)"
    *ngIf="closeOrVueChooseASchoolSubject">
  </app-choose-a-school-subject>
</div>
