.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40vh;
  height: 40vh;
  //background-image: url("/assets/img/schedule-bg.jpg");
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #e3e3e3;
  border: 2px solid black;
  border-radius: 8px;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 10px;
}

.bi-chevron-compact-left {
  margin: 0 20px;
}

.bi-chevron-compact-right {
  margin: 0 20px;
}

.bi-chevron-compact-left,
.bi-chevron-compact-right:hover {
  cursor: pointer;
}

.bi-x-circle:hover {
  cursor: pointer;
  color: #ef3c3c;
}

.lessons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-name {
  display: flex;
  h2 {
    font-size: 20px;
    margin: 10px 0;
    border-bottom: 1px solid black;
  }
}

.btn-group__cancel {
  margin-left: 10px;
}

.lessons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.name-lesson {
  width: 100px;
  margin: 5px 0;
}
