<div class="contentContainer">
  <div class="classId">
    <div>
      {{day}}
    </div>
    <div class="selectClass">
      <button class="nextNumberClass" (click)="nextNumberClass()"> > </button>
      <div class="selectClass_name">{{numberClass}}</div>
      <button class="lastNumberClass" (click)="lastNumberClass()"> < </button>
    </div>
    <div class="selectClass">
      <button class="nextLetterClass" (click)="nextLetterClass()"> > </button>
      <div class="selectClass_name">{{arrToLettersClass[indexToArrLetter]}}</div>
      <button class="lastLetterClass" (click)="lastLetterClass()"> < </button>
    </div>
  </div>
  <div class="itemsContainer">
    <app-items></app-items>
  </div>
  <div>
    <button (click)="saveSchedule()">Save</button>
  </div>
</div>

