<!--============= todo add icon =============-->
<div class="containerDiv">
  <div>
    <a href="userprofile">Профиль</a>
  </div>
  <div>
    <a href="#">Новости</a>
  </div>
  <div>
    <a href="messenger">Сообщения</a>
  </div>
  <div>
    <a href="select">Журналы</a>
  </div>
  <div>
    <a href="itemstoschool">Рассписание занятий</a>
  </div>
  <div>
    <a href="#">Поиск</a>
  </div>
  <div>
    <a href="#">Сотоловая</a>
  </div>
  <div>
    <a href="#">График работников</a>
  </div>
  <div>
    <a href="#">О  нас</a>
  </div>
</div>
