.containerDiv {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  background-color: #F0F0F0;
}

a {
  width: 200px;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  color: black;
}

a:hover{
  cursor: pointer;
  background-color: rgba(161, 143, 143, 0.25);
}


