.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("/assets/img/img-header-slider/wr-960 (1).webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  padding-bottom: 50px;
  //backdrop-filter: blur(5px);
}
.n-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 1170px;
   margin-top: 15px;
 }

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #F0F0F0;
  font-size: 55px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #F0F0F0;
}

.home-a {
  margin-top: 50px;
  font-size: 13px;
  background-color: #ffb606;
  padding: 10px 30px;
}

.home-a:hover {
  font-size: 17px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.bi-footer {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #F0F0F0;
}
