<!--==================== страница где можно выбрать журнал и при необходимости создать новый =================-->
<div class="flexContainer"  *ngIf="creatClassSelection">
  <div class="newClassList" (click)="creatList()" >Добавить новый журнал</div>
</div>

<div class="selectionClass" *ngIf="classSelection" >
  <div class="containerToCheckbox">
    <div class="containerToNumberClass">
      <button class="nextNumberToClass" (click)="nextNumberToClass()">+</button>
      <div class="numberToClass">{{numberToClass}}  класс</div>
      <button class="lastNumberToClass" (click)="lastNumberToClass()">-</button>
    </div>
    <div class="containerToButton">
      <button class="buttonOptions" (click)="creatNewList()" >Создать</button>
      <button class="buttonOptions" (click)="creatList()" >Отмена</button>
    </div>
  </div>
</div>

<app-menu></app-menu>
