<div class="containerContent">
  <app-menu></app-menu>
  <div class="containerByList">
      <a class="schoolListNumber" (click)="clickButtonSchoolListNumber()" *ngFor="let item of studentsListNumber">
        <div class="schoolListCard">
          <div class="schoolListCardText">{{item}}</div>
          <img src="../../assets/img/img-to-select-school-component/images.jpg" alt="books">
          <div class="containerToCardWithDeleteBtn" *ngIf="deleteCard">
            <button class="btnDeleteCard" (click)="deleteSchoolClassList(studentsListNumber.indexOf(item))">+</button>
          </div>
        </div>
      </a>
    <button class="controlBtn" (click)="divVueAddSchoolClass()">Создать журнал +</button>
  <button class="controlBtn" (click)="changesTheContentOfTheButton()">{{contentButtonDelete}}</button>
  </div>
  <app-add-new-school-class (closeWindow)="checkingTheStateOfAVariableClassList($event)" *ngIf="openWindowAddSchoolClassList"></app-add-new-school-class>
  <app-choose-a-school-subject (closeOrVueChooseASchoolSubject)="checkingTheStateOfAVariableSubject($event)" *ngIf="closeOrVueChooseASchoolSubject"></app-choose-a-school-subject>
</div>



