<div>
  <form [formGroup]="myForm" novalidate="" method="post" name="formCardInput" class="formCardInput" (ngSubmit)="clickBtnCome()">
    <h1>Вход</h1>
<!--    <app-checkbox></app-checkbox>-->
    <label>E-mail</label>
    <input placeholder="Имя пользователя" type="email" name="fullName"
           formControlName="userEmail">

    <label>Пароль</label>
    <input placeholder="Введите пароль" type="password" name="userPassword"
           formControlName="userPassword">

    <button [disabled]="myForm.invalid" class="buttonCome">Войти</button>
    <div class="errP" *ngIf="isPasswordMismatch">
      <p>Проверте правильность паролей<p>
    </div>
    <p>
      У вас нет аккаунта? - <a routerLink="/registration" >Регистрация</a>
    </p>
  </form>
</div>
