<!--<app-menu></app-menu>-->

<div class="createNewList">
  <div class="headerList">
    <h1>{{classInfo.className}}</h1>
<!--    <input class="className" placeholder="Номер класса" [(ngModel)]="className">-->
  </div>
  <div class="divLabel">
    <label for="surname">ФИО</label>
    <input id="surname" type="text" [(ngModel)]="studentsName">
    <button (click)="addStudentToList()">записать</button>
  </div>

  <div class="monthButtons">
    <button class="monthButton" (click)="nextMonth()">+</button>
    <div class="monthText">{{month}}</div>
    <button class="monthButton" (click)="previousMonth()">-</button>
  </div>

  <table>
    <tr>
      <td rowspan="2" colspan="2">ФИО учащихся</td>
      <td colspan="31">
        <h2>{{className?.className}}</h2>
<!--        <input class="inputToPredmet" placeholder="Название предмета">-->
      </td>
      <td rowspan="2">Изученный материал</td>
    </tr>
    <tr>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td>08</td>
      <td>09</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
    </tr>
    <tr class="cursorAround" *ngFor="let name of students">
      <td class="numberStudent">{{students.indexOf(name) + 1}}</td>
      <td>{{name}}</td>
      <app-table-row-with-students></app-table-row-with-students>
      <td>
        <button (click)="deleteStudent(students.indexOf(name))">Удалить</button>
      </td>

    </tr>
  </table>
<!--  <button (click)="addUserToSchoolList()">to add user</button>-->
<!--  <button (click)="saveListButton()">Сохранить</button>-->
<!--  <button (click)="playObserver()">play</button>-->
</div>






