.inputToDate {
  border: none;
  width: 20px;
  height: 14px;
  text-align: center;
  outline: none;
}

.cursorAround:hover {
  border: 1px solid yellow;
}

.className {
  font-size: 32px;
  text-align: center;
  outline: none;
  border: none;
}


.inputToPredmet {
  border: none;
  text-align: center;
  font-size: 24px;
  outline: none;
}

.createNewList {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divLabel {
  display: flex;
  padding-bottom: 10px;
}

.createNewStudent {
  border: 1px solid black;
  //padding: 5px 10px;
}

.createNewStudent:hover {
  cursor: pointer;
}

.headerList {
  font-size: 40px;
  padding-bottom: 40px;
}

label {
  padding-right: 10px;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

table {
  border: 1px solid black;
}

.numberStudent {
  width: 8px;
}

.monthButtons {
  display: flex;
  align-items: center;
}

.monthText {
  width: 100px;
  text-align: center;

}

.monthButton {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

app-table-row-with-students {
  display: contents;
}
