<div class="container-table">
  <div class="container-to-h1">
    <h1>Рассписание</h1>
    <h1>
      Учреждение образования: Средняя школа №1"имени А.С. Пушкина" г.Узда
    </h1>
  </div>
  <table>
    <tr>
      <th>Класс</th>
      <th *ngFor="let day of week">
        <p class="p-day">{{day}}</p>
      </th>
    </tr>
    <tr *ngFor="let item of classesSchoolInfo">
      <td>{{item.id}}</td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Пн']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            к.{{lessenWithRoom.room}}
          </p>
        </div>
      </td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Вт']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            {{lessenWithRoom.room}}
          </p>
        </div>
      </td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Ср']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            {{lessenWithRoom.room}}
          </p>
        </div>
      </td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Чт']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            {{lessenWithRoom.room}}
          </p>
        </div>
      </td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Пт']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            {{lessenWithRoom.room}}
          </p>
        </div>
      </td>
      <td>
        <div *ngFor="let lessenWithRoom of item.lessons['Сб']" class="div-container-lesson-with-room">
          <p>
            {{lessenWithRoom.nameLesson}}
          </p>
          <p>
            {{lessenWithRoom.room}}
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>


<!--  ========================================================================================================-->
<!--<app-items></app-items>-->
<!--  ===================================================================================-->

<!--  <ng-template *ngIf="openWindowAddSchoolClassName">-->
<!--    <button class="btnAddAppItems" (click)="showItemsMenu()">+</button>-->
<!--  </ng-template>-->
<!--</div>-->

<!--  <app-add-class-to-schedule-->
<!--    [className]="classId"-->
<!--    *ngIf="openWindowAddSchoolClassName"-->
<!--    (closeWindow)="checkingTheStateOfAVariableClassList($event)">-->
<!--  </app-add-class-to-schedule>-->

<!-- Уже не надо-->
<!--  <app-schedule-for-the-day class="scheduleForDay" *ngIf="classesSchoolInfo.length>0" [day]="selectDay"></app-schedule-for-the-day>-->
