.containerContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //position: absolute;
  //width: 1920px;
  //height: 1000px;
  //left: 0px;
  //top: 0px;
  //background: linear-gradient(180deg, rgba(20, 20, 20, 0.5) 78.8%, #141414 100%), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnBqwKv4A1QFeX5i5eAk6AXLTQhOrCpChY7g&usqp=CAU");
}
