.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 950px;
}

.newClassList {
  width: min-content;
  border: 1px solid black;
  border-radius: 50%;
  padding: 45px;
}

.newClassList:hover {
  cursor: pointer;
}

.selectionClass {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
}

.containerToCheckbox {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 175px;
  background-color: antiquewhite;
}

.checkboxClass {
  display: flex;
}

.containerToNumberClass {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.nextNumberToClass {
  width: 35px;
  height: 35px;
}

.lastNumberToClass {
  width: 35px;
  height: 35px;
}

.containerToButton {
  display: flex;
  flex-direction: row;
}

.buttonOptions {
  width: 175px;
  height: 30px;
}

.numberToClass {
  font-size: 28px;
}


//======================== registration ======================

.containerForm {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Monserat, sans-serif;
}


.formCardInput {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border:1px solid  #e3e3e3;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}

label {
  margin-top: 15px;
}

.buttonCome {
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  color: #416ee1;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 12px;
}


//=================================
.containerForm {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monserat, sans-serif;
}


.formCardInput {
  display: flex;
  flex-direction: column;
  width: 250px;
  border:1px solid  #e3e3e3;
  padding: 10px 20px;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}

label {
  margin-top: 15px;
}

.buttonCome {
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  color: #416ee1;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 12px;
}
