<div class="contentContainer">
  <table>
    <tbody>
    <tr>
      <th colspan="200" class="trHeader">
        Рассписание
      </th>
    </tr>
    <tr>
      <th></th>
      <th scope="col" *ngFor="let classNumber of classesSchoolInfo; let index = index" >
        <app-td-calss-name-and-room-number [classNum]="classNumber.id" ></app-td-calss-name-and-room-number>
      </th>
      <th rowspan="7" scope="rowgroup" *ngIf="!openWindowAddSchoolClassName">
        <div>
          <button (click)="openWindowAddSchoolClassName=true">+</button>
        </div>
      </th>
    </tr>

    <tr (click)="selectRow(index)" *ngFor="let day of week; let index = index;">
      <th scope="row" [class.selected-row]="selectedIndex === index">{{day}}</th>
      <td [class.selected-row]="selectedIndex === index" *ngFor="let items of classesSchoolInfo" >
        <div class="container-items-and-btn">
          <div>
            <div *ngFor="let lessons of items.lessons[day]" (click)="clickOnTable(items.lessons)">{{lessons}}</div>
          </div>
          <div *ngIf="addItems">
            <button class="btn-add-items" (click)="addItemsToSchedule()">+</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

<app-items></app-items>


<!--  <ng-template *ngIf="openWindowAddSchoolClassName">-->
<!--    <button class="btnAddAppItems" (click)="showItemsMenu()">+</button>-->
<!--  </ng-template>-->
<!--</div>-->

<!--  <app-add-class-to-schedule-->
<!--    [className]="classId"-->
<!--    *ngIf="openWindowAddSchoolClassName"-->
<!--    (closeWindow)="checkingTheStateOfAVariableClassList($event)">-->
<!--  </app-add-class-to-schedule>-->

<!-- Уже не надо-->
<!--  <app-schedule-for-the-day class="scheduleForDay" *ngIf="classesSchoolInfo.length>0" [day]="selectDay"></app-schedule-for-the-day>-->
