<table>
  <thead>
  <tr>
    <th colspan="200" class="trHeader">
      Рассписание
    </th>
  </tr>
  <tr>
    <th></th>
    <th scope="col" *ngFor="let classNumber of classesSchoolInfo; let index = index" >
      <app-td-calss-name-and-room-number [classNum]="classNumber.id" ></app-td-calss-name-and-room-number>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="selectRow(index)" *ngFor="let day of week; let index = index;">
    <td [class.selected-row]="selectedIndex === index">{{day}}</td>
    <td [class.selected-row]="selectedIndex === index" *ngFor="let items of classesSchoolInfo">
      <div *ngFor="let lessons of items.lessons[day]">{{lessons}}</div>
    </td>
  </tr>
  </tbody>

  <tfoot></tfoot>
</table>
<button (click)="openWindowAddSchoolClassName=true">+</button>

<app-add-class-to-schedule (closeWindow)="checkingTheStateOfAVariableClassList($event)" [className]="classSchool.id" *ngIf="openWindowAddSchoolClassName"></app-add-class-to-schedule>
<!--<app-schedule-for-the-day class="scheduleForDay" *ngIf="classesSchoolInfo.length>0;else showBtnAddAppItems" [day]="selectDay"></app-schedule-for-the-day>-->
<ng-template #showBtnAddAppItems>
  <button class="btnAddAppItems" (click)="showItemsMenu()">+</button>
</ng-template>
