<div class="contentContainer">
<!--  <app-menu></app-menu>-->
 <div>
   <h1>Столовая</h1>
   <div>
    <button>
      Меню
      <button>Буфет</button>
    </button>
   </div>
   <h2>Обед</h2>


   <div class="menu-to-food">
     <h3>Пн</h3>
     <ol>
       <li>Суп "Борщ"</li>
       <li>Пюре</li>
       <li>Чай c булочкой</li>
       <li>Сок апельсиновый</li>
     </ol>

     <div class="slider-food-image">
       <div class="img-box">
         <img  *ngFor="let item of slider" src="{{item.url}}">
       </div>
       <div class="image-switching-buttons">
         <button (click)="sliderLast()"> < </button>
         <div >1</div>
         <div >2</div>
         <div >3</div>
         <div >4</div>
         <button (click)="sliderNext()"> > </button>
       </div>
     </div>
   </div>

    <app-tuck-shop *ngIf="isTuckShopActive"></app-tuck-shop>
 </div>
</div>
