.containerContent {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.h1WithCloseButton {
  margin-left: 20px;
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

h1{
  margin-left: 115px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.closeWindowWithSelectSchoolObject {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ef3c3c;
}

.closeWindowWithSelectSchoolObject:hover {
  cursor: pointer;
}

.buttonsSelectObject {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.buttonSelectObject {
  margin-bottom: 5px;
  font-size: 20px;
  border:none;
  border-bottom: 1px solid #e3e3e3;
}

.buttonSelectObject:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

.buttonAddNewSchoolObject {
  width: 150px;
  height: 55px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}



.buttonAddNewSchoolObject:hover {
  cursor: pointer;
  background-color: #8ce96a6b;
}

.buttonDeleteSchoolObject {
  width: 150px;
  height: 55px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonDeleteSchoolObject:hover {
  cursor: pointer;
  background-color: #ff000087;
}

.divVueAddSchoolObject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 450px;

}

.divVueChooseSubject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 450px;
}

.inputNewSubject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
  text-align: center;
}

label {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.containerSubjectWithBtnDelete{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.containerSubjectWithBtnDelete:hover {
  background-color: rgba(161, 143, 143, 0.25);
}

.btnDelete {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ef3c3c;
}

.subject {
  cursor: pointer;
}
