<!-- страничка с выбором предмета-->
<div class="containerContent">
  <div class="divVueChooseSubject" *ngIf="isChooseSubjectModeActive">
    <div class="h1WithCloseButton">
      <h1>Выберите предмет</h1>
      <button class="closeWindowWithSelectSchoolObject" (click)="closeWindowWithSelectSchoolObject(false)">X</button>
    </div>
    <div class="buttonsSelectObject">
      <div class="containerSubjectWithBtnDelete" *ngFor="let item of schoolSubjects; let indexSubject = index;">
        <div class="subject" (click)="viewSchoolObject(indexSubject)">{{item}}</div>
        <button class="btnDelete" *ngIf="isDeleteButtonActive" (click)="deleteObject(item, indexSubject)">x</button>
      </div>
    </div>
    <button class="buttonAddNewSchoolObject" (click)="addNewSchoolObject()">Добавить новый предмет</button>
    <button class="buttonDeleteSchoolObject" (click)="toggleState()">{{contentToggleStateButton}}</button>
  </div>

  <!--создание нового предмета-->
  <div *ngIf="isAddNewSubjectModeActive" class="divVueAddSchoolObject">
    <div class="h1WithCloseButton">
      <h1>Новый предмет</h1>
      <button class="closeWindowWithSelectSchoolObject" (click)="closeWindowWithAddSchoolObject()">X</button>
    </div>
    <div class="inputNewSubject">
      <label>Введите название предмета</label>
      <input type="text" [(ngModel)]="addSchoolObjectOnSchoolList">
    </div>
    <button class="buttonAddNewSchoolObject" (click)="buttonAddSchoolObject()">Добавить</button>
  </div>
</div>

