<!--<app-menu></app-menu>-->
<div class="containerByList">

  <button class="createNewSchoolList" (click)="clickButtonSchoolListNumber()" *ngFor="let item of studentsListNumber">{{item}} класс</button>

  <button class="createNewSchoolList">Создать журнал +</button>

</div>

<div *ngIf="buttonSchoolListNumber">
  <p>Выберите предмет</p>
  <li *ngFor="let item of schoolObjects">
    <button (click)="selectSchoolObject(item)">{{item}}</button>
  </li>
  <button (click)="closeWindowWithSchoolObject()">Закрыть</button>
</div>
