.containerByList {
  margin-left: 300px;
}

.createNewSchoolList {
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  border-color: black;
}

.createNewSchoolList:hover {
  cursor: pointer;
  background-color: #c9c9e3;
}
