<!--<app-menu></app-menu>-->
<div class="containerByList">
  <button class="createNewSchoolList" (click)="clickButtonSchoolListNumber()" *ngFor="let item of studentsListNumber">{{item}}</button>
  <button class="createNewSchoolList" (click)="divVueAddSchoolClass()">Создать журнал +</button>
</div>

<div *ngIf="openWindowAddSchoolClassList">
  <label>номер класса</label>
  <input [(ngModel)]="className">
  <button (click)="addNewClassList()">Создать</button>
  <button (click)="closeWindowWithAddSchoolClassList()">Закрыть</button>
</div>

<app-choose-a-school-subject  (closeOrVueChooseASchoolSubject)="checkingTheStateOfAVariable($event)" *ngIf="closeOrVueChooseASchoolSubject"></app-choose-a-school-subject>

