<nav>
  <div class="nav-container">
    <img src="assets/img/img-header-slider/icon.png">
    <ul class="name-option">
      <li>
        <a routerLink="/home">ГЛАВНАЯ</a>
        <ul></ul>
      </li>
      <li >
        <a routerLink="/userprofile">ПРОФИЛЬ</a>
        <ul></ul>
      </li>
      <li>
        <a  routerLink="/selectList">ЖУРНАЛЫ</a>
        <ul></ul>
      </li>
      <li class="li-options">
        <app-drop-menu [infoToMenu]="infoToMenu"></app-drop-menu>
      </li>
      <li>
        <a  routerLink="/news">НОВОСТИ</a>
        <ul></ul>
      </li>
      <li>
        <a  routerLink="/itemsToSchool">РАССПИСАНИЕ ЗАНЯТИЙ</a>
        <ul></ul>
      </li>
      <li>
        <a  routerLink="/schoolCanteen">СТОЛОВАЯ</a>
        <ul></ul>
      </li>
    </ul>
  </div>
</nav>
