nav {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  //background-color: #F0F0F0;
}

.nav-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ccccccad;
  border-radius: 50px;
  height: 40px;
  padding-right: 20px;
}

.name-option li:first-child {
  margin-left: 50px;
}

.name-option li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 3px;
  margin-left: 20px;
  color: #F0F0F0;
}

.name-option li  a {
  text-decoration: none;
  color: #F0F0F0;
}

.name-option li:hover {
  padding-bottom: 0;
  border-bottom: 3px solid #ffb606;
  transition-duration: 0.2s;
}

.bi {
  width: 10px;
  height: 26px;
  margin-left: 5px;
  color: #F0F0F0;
}






