<div class="contentContainer">
  <app-header-c [info]="infoToHeader"></app-header-c>
  <div class="div-content-table">
    <div class="user-info">
      <img src="{{userInfo.img}}">
      <section class="section-ul">
        <ul>
          <li>{{userInfo.name}}</li>
          <li>{{userInfo.age}}</li>
          <li>{{userInfo.birthday}}</li>
          <li>{{userInfo.className}}</li>
          <li>{{userInfo.tel}}</li>
          <li>{{userInfo.email}}</li>
        </ul>
      </section>
    </div>
    <h1>{{monthName}}</h1>
    <table>
      <tbody>
      <tr *ngFor="let day of firstHalfOfTheWeek">
        <td>
          <div class="div-info-day">
            {{day.dayMonth}}
          </div>
          <div class="div-info-day">
            {{day.dayWeek}}
          </div>
        </td>
        <td class="td-lesson" *ngFor="let lesson of day.schedule">
          <div class="div-content-lesson">
            <div class="name-subject">{{lesson.nameSubject}}</div>
            <div class="homework">{{lesson.homework}}</div>
            <div class="grade">{{lesson.grade}}</div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let day of secondHalfOfTheWeek">
        <td>
          <div class="div-info-day">
            {{day.dayMonth}}
          </div>
          <div class="div-info-day">
            {{day.dayWeek}}
          </div>
        </td>
        <td class="td-lesson" *ngFor="let lesson of day.schedule">
          <div class="div-content-lesson">
            <div class="name-subject">{{lesson.nameSubject}}</div>
            <div class="homework">{{lesson.homework}}</div>
            <div class="grade">{{lesson.grade}}</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
