<div class="contentContainer">
<!--  <app-menu></app-menu>-->
  <app-header-c [info]="infoToHeader"></app-header-c>
<!--  <section>-->
<!--    <h1>Gregory Rabushko</h1>-->
<!--    <h2>день рождения</h2>-->
<!--    <h2>в каком классе учусь</h2>-->
<!--    <h2>место проживания</h2>-->
<!--    <h2>контактный номер </h2>-->
<!--    <h2>фото профиля</h2>-->
<!--    <h2>друзья</h2>-->
<!--    <h2>подписчики</h2>-->
<!--    <h2>личная инфа</h2>-->
<!--    <h2>что то еще</h2>-->
<!--  </section>-->
</div>
